* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #020024;
  background: linear-gradient(
    rgba(2, 0, 36, 0.87) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(2, 0, 36, 0.87) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1000px;
  height: 600px;
  background: #020024;
  background: linear-gradient(
    rgb(0, 128, 255) 0%,
    rgba(9, 9, 121, 1) 65%,
    rgba(2, 0, 36, 0.87) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.quote {
  padding: 30px 60px;
  max-width: 800px;
  max-height: 360px;
  background: rgb(8, 8, 75);
  color: #cddfff;
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
}
.auth {
  padding: 16px 40px;
  width: 340px;
  background: rgb(8, 8, 75);
  color: #cddfff;
  font-size: 2rem;
  margin-top: 4px;
  border-radius: 10px;
  text-align: center;
}
.quote,
.auth {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.btn {
  padding: 20px 40px;
  background: rgb(71, 16, 153);
  color: white;
  margin-top: 30px;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;
}

@media (max-width: 720px) {
  .container {
    max-width: 700px;
  }
  .quote {
    width: 500px;
    max-height: 400px;
  }
}
@media (max-width: 420px) {
  .quote {
    width: 300px;
    font-size: 2rem;
  }
  .auth {
    width: 200px;
    font-size: 2rem;
  }
}
