* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#66cdaa, #008b8b);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: linear-gradient(#98fb98, #7cfc00);
  border-radius: 10px;
  width: 90vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-family: sans-serif;
  margin: 16px 0px;
  text-align: center;
  text-shadow: 2px 2px 2px green;
}
.dices {
  display: flex;
}
.dicebox1,
.dicebox2 {
  margin: 20px 20px;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: 10px 10px 10px green;
}
.roll {
  animation: rolling 1s ease-in-out;
}
.dice1,
.dice2 {
  transform: translateY(-20px);
  font-size: 10rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.btn {
  border-style: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 2rem;
  margin-top: 20px;
}
.btn:hover {
  cursor: pointer;
  background: #006400;
  color: white;
}
.res {
  font-size: 3rem;
  margin-bottom: 10px;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
