body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 80px;
}
.code {
  font-size: 40px;
}
.btn {
  padding: 14px 24px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
}
