* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1000px;
  height: 540px;
  background: rgb(92, 0, 183);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.container.light {
  background: white;
}
.toggle {
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.btn {
  padding: 10px 30px;
  background: white;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  border: 2px solid black;
}
.btn.active {
  background: rgb(92, 0, 183);
  color: #fff;
}
.time {
  margin-top: 14%;
  font-size: 9rem;
}
.format {
  display: flex;
  justify-self: flex-end;
  font-size: 1.4rem;
}
.day {
  margin-top: 10px;
  font-size: 4rem;
}
.calender {
  display: flex;
}
.date,
.month,
.year {
  padding: 10px;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 400px;
  }
  .time {
    margin-top: 70px;
    font-size: 5rem;
  }
  .btn {
    padding: 6px 14px;
  }
}
@media (max-width: 380px) {
  .container {
    width: 90%;
  }
  .btn {
    padding: 6px 14px;
    font-size: 1.2rem;
  }
  .time {
    font-size: 3rem;
  }
  .day {
    font-size: 2rem;
  }
  .date,
  .month,
  .year {
    font-size: 1.6rem;
  }
}
