* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg);
  background-size: cover;
}

.container {
  width: 800px;
  padding: 20px;
  backdrop-filter: blur(8px);
  box-shadow: 4px 4px 5px 4px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5px;
}

input {
  font-size: 1rem;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
  color: red;
  font-size: 1rem;
  min-height: 1.2rem;
  text-align: end;
}

.btn {
  width: 200px;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  background: #fff;
  margin-top: 10px;
  align-self: center;
}

.btn:hover {
  background: #656565;
  color: white;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
  label {
    font-size: 1.2rem;
  }
  input {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 1rem;
  }
}
