* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 600px;
  width: 900px;
  background: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
main {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.inputs {
  padding: 20px 10px;
  font-size: 2rem;
}
input {
  padding: 10px 0px;
  margin: 20px 0px;
  width: 150px;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
  background: wheat;
  border-style: none;
}

.btn {
  cursor: pointer;
  text-align: center;
  background: wheat;
  align-self: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 2rem;
}
.btn:hover {
  background: rgb(255, 196, 88);
  transform: translateY(-2px);
  border: 2px solid rgb(139, 70, 21);
}

section {
  display: flex;
  width: 80%;
  justify-content: space-around;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.final-amount {
  font-size: 3rem;
}

@media (max-width: 720px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 460px) {
  .inputs {
    font-size: 1.4rem;
  }
  .input {
    width: 20px;
    font-size: 1rem;
    margin: 0;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .btn {
    font-size: 1.4rem;
  }
  section {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  .final-amount {
    font-size: 1.6rem;
  }
}
